[submodule "qtbase"]
	path = qtbase
	url = https://github.com/suitabletech/qtbase.git
[submodule "qtsvg"]
	path = qtsvg
	url = https://github.com/suitabletech/qtsvg.git
[submodule "qtdeclarative"]
	path = qtdeclarative
	url = https://github.com/suitabletech/qtdeclarative.git
[submodule "qtmultimedia"]
	path = qtmultimedia
	url = https://github.com/suitabletech/qtmultimedia.git
[submodule "qttools"]
	path = qttools
	url = https://github.com/suitabletech/qttools.git
[submodule "qtxmlpatterns"]
	path = qtxmlpatterns
	url = https://github.com/suitabletech/qtxmlpatterns.git
[submodule "qttranslations"]
	path = qttranslations
	url = git://code.qt.io/qt/qttranslations.git
[submodule "qtdoc"]
	path = qtdoc
	url = git://code.qt.io/qt/qtdoc.git
[submodule "qtrepotools"]
	path = qtrepotools
	url = git://code.qt.io/qt/qtrepotools.git
[submodule "qtwebkit"]
	path = qtwebkit
	url = https://github.com/suitabletech/qtwebkit.git
[submodule "qtqa"]
	path = qtqa
	url = git://code.qt.io/qt/qtqa.git
[submodule "qtimageformats"]
	path = qtimageformats
	url = git://code.qt.io/qt/qtimageformats.git
[submodule "qtgraphicaleffects"]
	path = qtgraphicaleffects
	url = https://github.com/suitabletech/qtgraphicaleffects.git
[submodule "qtquickcontrols"]
	path = qtquickcontrols
	url = https://github.com/suitabletech/qtquickcontrols.git
[submodule "qt3d"]
	path = qt3d
	url = https://github.com/suitabletech/qt3d.git
[submodule "qtandroidextras"]
	path = qtandroidextras
	url = git://code.qt.io/qt/qtandroidextras.git
